## Numpy Assignment


### University of Virginia
### Programming for Data Science
### Last Updated: September 10, 2021
---

### Instructions

Use the **numpy** package to perform analysis on forest fire data.  
Background: while **pandas** is convenient for tables of data with mixed type, it can be much slower than numpy.  
For numeric data, it can often be very efficient to compute directly with numpy.

### TOTAL POINTS: 14
---

In [2]:
import numpy as np
import pandas as pd

#### Read in the dataset from the UCI Machine Learning Repository

In [3]:
path_to_data = "https://archive.ics.uci.edu/ml/machine-learning-databases/forest-fires/forestfires.csv"
fire = pd.read_csv(path_to_data)
fire.head(2)

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0

1) **(1 PT)** Select columns of interest (`cols_to_keep`) and save as numpy array called *arr*. Print *arr*.

Hint: df.values will extract the values from dataframe `df`

In [5]:
cols_to_keep = ['temp','wind','rain','area']

2) **(1 PT)** Print the shape of the array

3) **(1 PT)** Subset into *arr* and print: all rows, first two columns

4) **(1 PT)** Transpose *arr*, print the transpose, and print the shape of the transpose

5) **(1 PT)** Compute the square root of the first column of *arr* and save in variable *z*. Then print *z*.

Print the shape of z, which should be (517,)

6) **(1 PT)** Create an identity matrix of shape (517,517), calling it *eye* and printing it.

Print *eye*

7) **(1 PT)** Compute matrix product: *eye* * *z*, calling it *ez*  
Hint: See [Details](https://numpy.org/doc/stable/reference/generated/numpy.matmul.html) for matrix multiply function.  
Print the product, and check if the result makes sense.

8) **(1 PT)** Compute the mean of *z*

9) **(1 PT)** Apply a mask to z, removing values less than 2. Call this *mz*, and print it.

10) **(1 PT)** Compute the mean and standard deviation of *mz*, printing them as a tuple like (m, s) for mean and standard deviation, respectively.

11) **(1 PT)** Given *mz*, set all values less than 2.4 equal to 2.4 (apply a floor), and set all values greater than 2.6 to 2.6 (apply a ceiling).  
[Hint](https://numpy.org/doc/stable/reference/generated/numpy.clip.html)  
Call this variable *cz* and print the values.

12) **(1 PT)** Using *matplotlib*, plot histograms of *z*, *mz*, and *cz*

In [32]:
import matplotlib.pyplot as plt

In [1]:
# z

In [ ]:
# mz

In [2]:
# cz

**SIMULATION EXERCISES**

13) **(1 PT)** Draw 100 random values from a standard normal distribution, using SEED = 314.

In [8]:
from numpy.random import seed
from numpy.random import normal

seed(314)

dev = normal(loc=0, scale=1, size=20)

print(dev)

# compute cumulative sum
# https://mathworld.wolfram.com/CumulativeSum.html
# [INSERT CODE]

# plot the cumulative sum (called a random walk)
# [INSERT CODE]

[ 0.16608544  0.78196448  0.85228509 -0.70707096 -0.93165719  0.88666088
 -0.22178966  0.38172358 -0.77257544  0.86298719 -0.28126003 -0.93192543
 -0.49853725  0.76432549  0.19150443 -0.61876383  1.66571909  1.7381882
  1.18222626  1.11937572]

14) **(1 PT)** Write code to generate and plot 10 random walks. For reproducibility, explicitly use seed=314.  
Hint: Calling *plt.plot()* in a loop will overplot on one graph

---