## Myocardial Infarction Analytics with Pandas


### University of Virginia
### Programming for Data Science
### Last Updated: March 1, 2021
---

### Objectives: 
- Use pandas to perform operations, analytics, and visualization on healthcare data

### Executive Summary

In this assignment you will download and work with the Myocardial Infarction (MI) Complications Data Set housed at UCI.  
A myocardial infarction is commonly called a heart attack.

**Dataset Description File (DDF)**  
Read about the dataset here:  
https://archive.ics.uci.edu/ml/datasets/Myocardial+infarction+complications#

You will work with some of the columns.  
A subset of these could be predictors in an ML model, while others could be outcome variables.  
The section **Attribute Information** in the DDF provides details.

### Instructions

You will be asked to perform several tasks.  
Show your code and solutions clearly in the cells following each question.   
When the file is completed, submit the notebook through Collab.

**TOTAL POINTS: 12**

---

In [53]:
import pandas as pd
import numpy as np

#### Read in the dataset from the UCI Machine Learning Repository 
Hints:  
Use the read_csv() function, giving the path to the dataset (*path_to_data*) as an argument.  
There is no header in this data, so pass a second argument `header=None`.

In [54]:
path_to_data = "https://archive.ics.uci.edu/ml/machine-learning-databases/00579/MI.data"
df = pd.read_csv(path_to_data, header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,114,115,116,117,118,119,120,121,122,123
0,1,77,1,2,1,1,2,?,3,0,...,0,0,0,0,0,0,0,0,0,0
1,2,55,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,52,1,0,0,0,2,?,2,0,...,0,0,0,0,0,0,0,0,0,0
3,4,68,0,0,0,0,2,?,2,0,...,0,0,0,0,0,0,1,0,0,0
4,5,60,1,0,0,0,2,?,3,0,...,0,0,0,0,0,0,0,0,0,0

0       int64
1      object
2       int64
3      object
4      object
        ...
119     int64
120     int64
121     int64
122     int64
123     int64
Length: 124, dtype: object

0       77
1       55
2       52
3       68
4       60
        ..
1695    77
1696    70
1697    55
1698    79
1699    63
Name: 1, Length: 1700, dtype: object

 **<span style="color:blue">1 PT) 1. Print the number of records in the dataset</span>**

In [16]:
print(df.shape)

(1700, 124)

**<span style="color:blue">(1 PT) 2. Show the first three records in the dataset</span>**

In [15]:
df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,114,115,116,117,118,119,120,121,122,123
0,1,77,1,2,1,1,2,?,3,0,...,0,0,0,0,0,0,0,0,0,0
1,2,55,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,52,1,0,0,0,2,?,2,0,...,0,0,0,0,0,0,0,0,0,0

**Working with AGE**

The second column contains patient age. If your dataframe is named `df`, you can reference the column with: df[1]  
(generally the field names will be strings and you can use df['age'] to access field `age`, as an example).


**<span style="color:blue">(1 PT) 3. One complication: missing values are filled with '?' which will cause problems (e.g., stats can't be computed easily).   
Count the number of records in df[1] containing '?'.</span>**

In [46]:
count = 0
for each in df[1]:
    if each == "?":
        count+= 1
print(count)

0

In [55]:
len([x for x in df[1] if "?" in x])

8

**<span style="color:blue">(1 PT) 4. Write code to replace '?' with np.nan in the column df[1] of your dataframe.** </span>

In [76]:
df[1] = df[1].replace("?", np.nan)
print(df[1])

0       77
1       55
2       52
3       68
4       60
        ..
1695    77
1696    70
1697    55
1698    79
1699    63
Name: 1, Length: 1700, dtype: object

0

**<span style="color:blue"> (1 PT) 5. Print the number of records containing np.nan in the column df[1] of your dataframe.**</span>

0

Another complication: the age data is saved as strings, and there are the null values.  
Here's an example:

In [77]:
# inspect first element

df[1].iloc[0]

'77'

In [78]:
# check the column type
df[1].dtype

dtype('O')

To convert the column to numeric, we can use `apply()` with a lambda function.  
If the type is string, we cast to numeric, otherwise it's null and we leave things alone.  
`isinstance(x, str)` checks if x is a string, returning a bool.  

Review this code for understanding:

In [80]:
df[1] = df[1].apply(lambda x: float(x) if isinstance(x, str) else x)

**<span style="color:blue">(1 PT) 6. Show the data type of `age` is no longer string type.</span>**

In [84]:
df[1].dtype

dtype('float64')

**<span style="color:blue">(1 PT) 7. Compute the median age</span>**

In [88]:
df = df.dropna()
np.median(df[1])

63.0

**Working with GENDER** 

The third column contains patient gender; again since indexing starts at zero, you'll reference df[2]

**<span style="color:blue">(1 PT) 8. Print the frequency AND percentage of each gender.</span>**  
Hint: The function you'll use to compute frequencies will take an argument to compute percentages.

**Working with Essential Hypertension (EH)** 

Reference this column with df[8]  

**<span style="color:blue">(1 PT) 9. Enter the most frequent value</span>**

**Working with Atrial Fibrillation (AFIB)** 

Reference this column with df[112]  
AFIB is one of the complications and outcomes of myocardial infarction.

**<span style="color:blue">(1 PT) 10. Print the number of AFIB cases (value=1)</span>**

Construct a new dataframe containing only columns: AGE, AFIB  
As a reminder, AGE lives in df[1] and AFIB lives in df[112]  

**<span style="color:blue">(1 PT) 11. Print the shape of this dataframe</span>**

We plan to plot AGE and AFIB, so renaming the columns to strings will make things easier.  
We use `rename()` for this:

In [164]:
df2 = df2.rename(columns={1:'age', 112:'AFIB'})
df2.head()

    age  AFIB
0  77.0     0
1  55.0     0
2  52.0     0
3  68.0     0
4  60.0     0

**<span style="color:blue">(1 PT) 12. Import the `seaborn` package for visualization.
             Create a boxplot with AFIB on the x-axis and Age on the y-axis</span>**
             
documentation: https://seaborn.pydata.org/generated/seaborn.boxplot.html

In [69]:
import seaborn as sns

(ungraded) What do you notice about the difference in age distributions between AFIB/non-AFIB groups?