## Pandas DataFrames I


### University of Virginia
### Programming for Data Science
### Last Updated: June 24, 2021
---  
June 24

### PREREQUISITES
- variables
- data types
- operators
- list comprehensions (not essential)
- numpy arrays (not essential)


### SOURCES 
- ten minutes to pandas  
https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html


- sort_values()  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html


- value_counts()  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html


- to_csv() : saving to CSV file  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html


- read_csv() : load CSV file into DataFrame  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html


- dropna() : drop missing data  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html


- fillna() : impute missing data  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html




### OBJECTIVES
- Introduce pandas dataframes and the essential operations
 


### CONCEPTS

- DataFrame
- Creating DataFrames
- Copy: shallow vs deep
- Appending columns
- Slicing or subsetting by location, label (name)
- Boolean indexing
- Sorting
- Handling missing data
- Statistics

---

## I. Introduction to Pandas DataFrames

Pandas DataFrames were modeled from R Data Frames.

- They hold rectangular data (columns are equal length)
- Can hold mixed data types, but each column has same type
- Contains three attributes:
  - index (a column of index values; can use to sort, subset data)
  - columns
  - values (as a numpy array)

Pandas `Series` holds a single column of data.  

For shorthand, `df` will refer to pandas DataFrames.  

DataFrames can be created with pandas.    
Various formats (`csv`,`json`,...) can be loaded into DataFrames.   

The [ten minutes to pandas link](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html) above gives a good, brief overview of pandas. Be sure to review.

Import pandas like this, where the alias `pd` is convention:

In [ ]:
import pandas as pd

## II. Creating DataFrames

Several ways to create pandas dataframes

- Passing a dictionary of objects:

In [ ]:
# x, y, z are lists in the dict

df = pd.DataFrame({'x':[0,2,1,5], 'y':[1,1,0,0], 'z':[True,False,False,False]})
df

In [ ]:
print('attributes of df:')
print('index          :', df.index)
print('columns        :', df.columns)
print('data           :\n', df.values)
print('               ')
print('type(df.values):', type(df.values))

In [ ]:
list(df.columns)

In [ ]:
list(df.index)

- Passing the three required pieces:
  - columns as list
  - index as list
  - data as list of lists

In [ ]:
df2 = pd.DataFrame(columns=['x','y'], index=['row1','row2','row3'], data=[[9,3],[1,2],[4,6]])
df2

## III. Copying DataFrames with `copy()`

Use `copy()` to give the new df a clean break from the original.  
Otherwise, the copied df will mirror changes in the original.

In [ ]:
df_deep    = df.copy()  # deep copy; changes to df will not pass through
df_shallow = df         # shallow copy; changes to df will pass through

print('--df')
print(df)

# update values in df.x
df.x = 1

print('--Updated df')
print(df)
print('--df_shallow')
print(df_shallow)
print('--df_deep')
print(df_deep)

# rebuild df
df = pd.DataFrame({'x':[0,2,1,5], 'y':[1,1,0,0], 'z':[True,False,False,False]})

Notice `df_shallow` mirrors changes to `df`, since it references its indices and data.  
`df_deep` does not reference `df`, and so changes `to` df do not impact `df_deep`.

## IV. Show the data type of each column:

In [ ]:
df.dtypes

In [ ]:
?df.dtypes

## V. Column Renaming

Can rename one or more fields at once using a dict.  

Rename the field `z` to `is_label`:

In [ ]:
df = df.rename(columns={'z':'is_label'})
df

## VI. Column Referencing

Can use bracket notation or dot notation.  

- bracket notation: variable name must be a string

In [ ]:
df['y']

- dot notation: variable is NOT a string.

In [ ]:
# shows index and x values

df.y

show values only (can use dot or bracket notation):

In [ ]:
df.y.values

show only the first value, by indexing:

In [ ]:
df.y.values[0]

**List comprehensions are very useful for selecting columns**

---

Brief aside on list comprehensions:  
- they take a list as input and return a list as output
- they transform each element
- they can apply one or more filters (if-statements)

In [ ]:
# square values in list
lst = [1,2,3,4,5]

[x**2 for x in lst]

In [ ]:
# keep odd values from list
lst = [1,2,3,4,5]
[x for x in lst if x % 2 == 1]

In [ ]:
# even
[x for x in lst if x % 2 == 0]

In [ ]:
# squared evens
[x ** 2 for x in lst if x % 2 == 0]

In [ ]:
# retain elements containing 'ind'

f = ['f1_ind','f2_ind','f3_ind','f1','f2','f3']
[x for x in f if 'ind' in x]

---

In [ ]:
# create a new df by selecting columns that are NOT: x, y

df3 = df[[col for col in df.columns if col not in ['x','y']]]
df3

In [ ]:
df3 = df[[col for col in df.columns if col not in ['is_label']]]
df3

### TRY FOR YOURSELF (UNGRADED EXERCISES)

1) Create a dataframe called `dat` by passing a dictionary of inputs. Here are the requirements:
- has a column named `features` containing floats
- has a column named `labels` containing integers 0, 1, 2  

Print the df.

In [ ]:
dat = pd.DataFrame({'features':[0.2,-1.1,1.6, 5.4], 'labels':[1,1,0,2]}) 
dat

2) Rename the `labels` column in `dat` to `label`.

In [ ]:
dat = dat.rename(columns={'labels':'label'})
dat

## VII. Appending New Columns

It is typical to create a new column from existing columns.  
In this example, a new column (or field) is created by summing `x` and `y`:

In [ ]:
df['x_plus_y'] = df.x + df.y
df

Notice the components:

- the left side has form: DataFrame name, bracket notation, new column name
- the assignment operator `=` is used
- the right side contains an expression; here, two df columns are summed

Bracket notation also works on the fields, but it's more typing:

In [ ]:
df['x_plus_y'] = df['x'] + df['y']
df

The bracket notation must be used when assigning to a new column. This will break:

In [ ]:
df.'x_plus_y' = df.x + df.y

---

## VIII. Load Iris Dataset to Illustrate More Functionality

The function `load_dataset()` in the `seaborn` package loads the built-in dataset.

In [ ]:
import seaborn as sns

iris = sns.load_dataset('iris')

Check the data type of `iris`:

In [ ]:
type(iris)

**Always a good idea to inspect the data**

first few records:

In [ ]:
iris.head()

last few records:

In [ ]:
iris.tail()

Column data types

In [ ]:
iris.dtypes

shape (rows, columns):

In [ ]:
iris.shape

alternatively, `len()` returns row (record) count:

In [ ]:
len(iris)

column names:

In [ ]:
iris.columns

dataframe index:

In [ ]:
iris.index

## IX. Subsetting

Pandas subsetting is very flexible. The flexibility is useful, but can be confusing.  
Regular practice will help.

Subsetting (or slicing) a dataframe produces a new dataframe.

Extract a column

In [ ]:
iris.sepal_length.head()

# alternatively,
# iris['sepal_length'].head()

Extract subset of columns, saving into new df:

In [ ]:
# desired columns are list of strings

lengths = iris[['sepal_length','petal_length']]
lengths.head(3)

head() of data, as reminder

In [ ]:
iris.head()

### `iloc()`

Extracting rows using **indices** with `iloc()`. This fetches row 3, and all columns.

In [ ]:
# first few records
iris.head()

In [ ]:
iris.iloc[2]

fetch rows with indices 1,2 (the right endpoint is exclusive), and all columns.

In [ ]:
iris.iloc[1:3]

fetch rows with indices 1,2 and first three columns (positions 0, 1, 2)

In [ ]:
iris.iloc[1:3, 0:3]

In [ ]:
#first three column names

iris.columns[0:3]

### `loc()`

Subsetting on a df can also be done with `loc()`. This uses the row, column labels (names).

Here we ask for rows with labels (indexes) 1-3, and it gives exactly that  
`iloc()` returned rows with indices 1,2.

In [ ]:
iris.loc[1:3]

Subset on columns with column name (as a string) or list of strings

In [ ]:
iris.loc[1:3, ['sepal_length','petal_width']]

Select all rows, specific columns

In [ ]:
iris.loc[:, ['sepal_length','petal_width']]

In [ ]:
df_cat = pd.DataFrame(index=['burmese','persian','maine_coone'],columns=['x'],data=[2,1,3])
df_cat

In [ ]:
df_cat.iloc[:2]

In [ ]:
df_cat.iloc[0:1]

In [ ]:
df_cat.loc['burmese']

In [ ]:
df_cat.loc[['burmese','maine_coone']]

### Boolean Indexing: Subsetting based on Conditions

It's very common to subset a dataframe based on some condition on the data

In [ ]:
# boolean mask

iris.sepal_length >= 7.5

In [ ]:
iris[iris.sepal_length >= 7.5]

In [ ]:
# multiple conditions

iris[(iris['sepal_length']>=4.5) & (iris['sepal_length']<=4.7)]

Illustrate the `Boolean mask` by assigning earlier condition to variable:

In [ ]:
# show the sepal_length values

iris.sepal_length.values

In [ ]:
# assign the mask and show the bool values

mask = iris.sepal_length >= 7.5
mask.values

In [ ]:
# extract the True values

iris.sepal_length[mask].values

In summary, the mask will return True/False for each value.  
Subsetting on the mask will return only the values where mask value is True

## X. Working with Missing Data

Pandas primarily uses np.nan (from `numpy`) to represent missing data.

In [ ]:
import numpy as np

df_miss = pd.DataFrame({'x':[2, np.nan, 1], 'y':[np.nan, np.nan, 6]})
df_miss

**`dropna()` will drop missing**

[Details](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html)

In [ ]:
# drop all missing data

df_drop_all = df_miss.dropna()
df_drop_all

In [ ]:
# drop records where column: x has np.nan

df_drop_x = df_miss.dropna(subset=['x'])
df_drop_x

**`fillna()` fills missing**

Can fill with values, statistic. 

[Details](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html)

Example to impute each column with its median:

In [ ]:
df_filled = df_miss.fillna(df_miss.median())
df_filled

## XI. Sorting

Sort by values
- `by` parameter takes string or list of strings
- `ascending` takes True or False
- `inplace` will save sorted values into the df

[Details](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html)

In [ ]:
iris.sort_values(by=['sepal_length','petal_width'])

Sort by index. Example sorts by descending index

In [ ]:
iris.sort_index(axis=0, ascending=False)

## XII. Statistical Summary of a DataFrame using `describe()`

In [ ]:
iris.describe()

In [ ]:
iris.species.describe()

In [ ]:
iris.sepal_length.describe()

## XIII. Column Frequency using `value_counts()`

This is a highly useful function for showing the frequency for each distinct value.  
Parameters give the ability to sort by count or index, normalize, and more.  

[Details](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html)

In [ ]:
iris.species.value_counts()

# show percentages instead of counts

iris.species.value_counts(normalize=True)

## XIV. Statistics

Operations generally exclude missing data.

Some of the stats are shown here.

In [ ]:
iris.sepal_length.mean()

In [ ]:
iris.sepal_length.max()

In [ ]:
# standard deviation

iris.sepal_length.std()

Correlation (default=pearson) can be computed on two fields by subsetting on them:

In [ ]:
iris[['sepal_length','petal_length']].corr()

In [ ]:
# corr on three columns

iris[['sepal_length','petal_length','sepal_width']].corr()

In [ ]:
# full correlation matrix

iris.corr()

## XV. Visualization

Scatterplot using `seaborn` on the df columns `sepal_length`, `petal_length`.

Visualization will be covered separately in more detail.

In [ ]:
fig = sns.scatterplot(x=iris.sepal_length, y=iris.petal_length)
fig.grid()

## XVI. Save to CSV File

Common to save df to a csv file. The full path (path + filename) is required.  

Common optional parameters:
- `sep` - delimiter
- `index` - saving index column or not

[Details](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [ ]:
iris.to_csv('./iris_data.csv')

## XVII. Deleting (Dropping) Columns

`del` can drop a DataFrame or single columns from the frame

In [ ]:
iris.head(2)

In [ ]:
del iris['sepal_width']

In [ ]:
iris.head(2)

`drop()` can drop one or more columns

takes `axis` parameter:
- axis=0 refers to rows  
- axis=1 refers to columns

In [ ]:
iris = iris.drop(['sepal_length', 'species'], axis=1)
iris.head(2)

## XVIII. Read from CSV File

`read_csv()` reads from csv into DataFrame

takes full filepath

[Details](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

In [ ]:
iris_loaded = pd.read_csv('./iris_data.csv')

In [ ]:
iris_loaded.head(2)

---

### TRY FOR YOURSELF (UNGRADED EXERCISES)

3) Sort the iris dataset by species, descending

In [ ]:
iris_sort = iris.sort_values(by=['species'], ascending=False)
iris_sort

4) Filter the iris dataset to show only species='setosa', and save to df called `setosa`.  
Next, call the `value_counts()` function on `setosa.species` to show the only species in the df is setosa.

In [ ]:
setosa = iris[iris.species=='setosa']
setosa.species.value_counts()

5) Print the number of records in iris where petal_length <= 1.4 or petal_length >= 1.6  
Hint1: check how to implement "or" in pandas  
Hint2: subset using boolean indexing, and count the number of resulting records with `len()`

In [ ]:
len(iris[(iris.petal_length <= 1.4) | (iris.petal_length >= 1.6)])

---